
@import "compass/css3/border-radius";

@import "base/vars";
@import "base/mixins";

.hero-container {
    padding: 0.35em 0 0 0;
    text-align: center;
}

.hero-unit {
    position: relative;
    display: inline-block;
    margin: 0 0.2em;
    
    &.hide {
        opacity: 0;
    }
    
    img {
        position: relative;
        max-width: 100%;
        // border: $border-general;
        // border-top: 0;
        @include box-shadow(0 0 0.35em $color-brand-dark-back);
    }
    
    .info-handle {
        cursor:pointer;
        position: absolute;
        bottom: 0.2em;
        right: 0.4em;
        font-size: 2em;
        color: $color-baby-blue;
        @include opacity(0.8);
        @include prefixed(transition, all 0.4s ease-in-out);
        
        &:hover {
            color: $color-pink;
            @include opacity(1);
        }
    }
    
    figcaption {
        position: absolute;
        bottom: 2.5em;
        right: 0.5em;
        padding: 0.25em 0.75em 0.25em 0.75em;
        background: $color-brand-dark-back;
        text-align: right;
        font-size: 1.3em;
        color: $color-brand-dark-back-text;
        @include opacity(0.8);
        @include box-shadow(0 0 0 0.2em $color-brand-dark-back);
        @include text-shadow(0 0 0.2em $color-brand-dark-back);
        @include prefixed(transition, all 0.4s ease-in-out);
        
        &.hide {
            @include opacity(0);
        }
        
        @media all and (max-width: $breakpoint-small) {
            font-size: 1em;
            position: absolute;
            bottom: 3em;
            right: 0.1em;
        }
    }
    
    .description {
        text-align: center;
    }
    
    @media all and (max-width: $breakpoint-small) {
        figcaption {
            left: 2.5%; 
            margin-left: 0;
            width: 95%;
        }
    }
}
