
@import "compass/css3/border-radius";

@import "base/vars";
@import "base/mixins";

.hero-container {
    padding: 0.5em 0 0 0;
    text-align: center;
}

.hero-unit {
    position: relative;
    padding: 0 0.2em;
    
    &.hide {
        opacity: 0;
    }
    
    img {
        position: relative;
        max-width: 100%;
        background: #FFFFFF;
        padding: 0.2em;
    }
    
    .info-handle {
        cursor:pointer;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -0.425em;
        padding-bottom: 0.5em;
        font-size: 2em;
        opacity: 0.8;
        @include prefixed(transition, all 0.4s ease-in-out);
        
        &:hover {
            opacity: 1;
        }
        i {
            padding: 0 0.5em;
        }
    }
    
    figcaption {
        position: absolute;
        bottom: 4em;
        left: 50%;
        width: 30em;
        margin-left: -15em;
        background: #151515;
        opacity: 0.8;
        padding: 0.5em;
        border: $border-general;
        @include border-radius(4px);
        text-align: left;
        @include prefixed(transition, all 0.4s ease-in-out);
        
        &.hide {
            opacity: 0;
        }
    }
    
    .description {
        text-align: center;
    }
    
    @media all and (max-width: $breakpoint-small) {
        figcaption {
            left: 2.5%; 
            margin-left: 0;
            width: 95%;
        }
    }
}
