
@import "base/vars";
@import "base/mixins";

$font-header-general: $font-stack-lato;
$font-header-main: $font-stack-playfair-display;
$font-header-sub:  $font-stack-lato;

$color-header-hover: $color-brand-link;

$header-height: 4.5em;


header {
    
    &.absolute {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        @include background-rgba(33, 33, 33, 0.4);
        z-index: 99;
        
        section, nav {
            @include opacity(1);
        }
    }
    
    display: block;
    font-family: $font-header-general;
    height: $header-height;
    border-bottom: $border-general;
    
    &.no-border {
        border-bottom: 0;
    } 
    
    a {
        color: $color-brand-text;
        &:hover {
            color: $color-header-hover;
        }
    }
    
    .heading {
        float: left;
        margin: 0.25em 0 0.5em 1em;
        line-height: 1;
        
        h1 {
            font-family: $font-header-main;
            margin: 0;
            text-align: center;
            text-transform: uppercase;
            font-size: 2.5em;
            font-weight: 700;
        }
        
        h2 {
            font-family: $font-header-sub;
            margin: 0.1em 0 0 0;
            text-align: center;
            text-transform: uppercase;
            font-size: 1.15em;
            font-weight: normal;
        }
    }
    
    nav {
        float: right;
        height: $header-height;
        line-height: $header-height;
        
        a {
            display: inline;
            padding: 0 0 0.2em 0;
            margin: 0 1.5em;
            text-transform: uppercase;
            font-size: 1.2em;
        }
    }
    
    @media all and (max-width: $breakpoint-medium) {
        font-size: 0.95em;
        
        nav a {
            margin: 0 1em;
        }
    }
    
    @media all and (max-width: $breakpoint-small) {
        font-size: 0.9em;
        height: $header-height + ($header-height / 2) - 0.4em;
        
        .heading, nav {
            float: none;
        }
        
        .heading {
            margin: 0 0 0.25em 0;
        }
        
        nav {
            height: $header-height / 2;
            line-height: $header-height / 2;
            text-align: center;
            border-top: $border-general;
            border-bottom: $border-general;
            
            a {
                border-bottom: 0;
                &:hover {
                    border-bottom: 0;
                }
            }
        }
    }
}
