
@import "base/vars";
@import "base/mixins";

.profile {
    @extend .clearfix;
    margin: 1em;
    
    .profile-pic {
        width: 45%;
        float: left;
        position: relative;
        
        img {
            max-width: 100%;
        }
        
        figcaption {
            padding: 0.5em;
            font-size: 0.75em;
            font-weight: 300;
            text-align: right;
            position: absolute;
            bottom: 0;
            right: 0;
            color: $color-brand-dark-back-text;
            @include text-shadow(0 0 0.1em #151515);
            a {
                color: $color-baby-blue;
                &:hover {
                    color: $color-pink;
                }
            }
        }
    }
    
    .writeup {
        width: 55%;
        float: left;
        padding: 0 1em 0.5em 1em;
        
        h3 {
            margin: 1em 0 0 0;
            font-size: 2em;
            font-family: $font-stack-playfair-display;
            font-weight: 700;
        }
        
        h4 {
            margin: 0 0 2em 0;
            font-size: 1.2em;
            font-weight: 300;
        }
        
        strong {
            color: $color-brand-emphasis;
        }
    }
    
    .social-media {
        font-size: 3em;
        
        li {
            margin-right: 0.25em;
        }
        
        a.social-fb { color: $color-fb-blue; &:hover { color: $color-fb-blue-highlight;} }
        a.social-gplus { color: $color-gplus-red; &:hover { color: $color-gplus-red-highlight;} }
        a.social-instagram { color: $color-instagram; &:hover { color: $color-instagram-highlight;} }
    }
    
    @media all and (max-width: $breakpoint-medium) {
        .writeup {
            h3 {
                margin-top: 0;
            }
        }
    }
    
    @media all and (max-width: $breakpoint-small) {
        .profile-pic, .writeup {
            width: 100%;
            float: none;
        }
        .writeup {
            h3 {
                margin-top: 1em;
            }
        }
    }
}
